# Tox environment directory
/.tox/

# Distribution / packaging
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest files and directories
/.pytest_tmp/

# IDE files and directories
/.vscode/
/.vs/